p {
  margin: 10px;
}

.hero-body {
  min-height: 100%;
  margin-bottom: -25px;
}

/*************** MAIN ***************/
.profile{
    width: 60%;
    margin-left: 20%;

}

@media (max-width: 70em) {
  .profile {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 53em) {
  .profile {
    width: 90%;
    margin-left: 5%;
  }
}

.floated{
    float: left;
    width: 40%;
    margin: 2em;
}

@media (max-width: 70em) {
  .floated {
    width: 50%;
  }
}

@media (max-width: 53em) {
  .floated {
    width: 90%;
  }
}

.foot-text {
  padding: 3em;
}

/*************** SKILLS ***************/
.skill-icon {
  padding-bottom: 2em;
}

.skill-label {
  padding-bottom: 2em;
}

/*************** EXPERIENCE ***************/


.example {
  position: relative;
  padding: 0;
  width: 300px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.example-content {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #1c87c9;
  background-color: rgba(200, 200, 200, 0.5);
  width: 300px;
  height: 300px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}
.example .example-content:hover {
  opacity: 1;
}
.example .example-content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}
.example .example-content:hover .text {
  opacity: 1;
  transform: translateY(250px);
  -webkit-transform: translateY(250px);
}
