p {
  margin: 10px;
}

.hero-body {
  min-height: 100%;
  margin-bottom: -25px;
}

/*************** MAIN ***************/
.profile{
    width: 60%;
    margin-left: 20%;

}

@media (max-width: 70em) {
  .profile {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 53em) {
  .profile {
    width: 90%;
    margin-left: 5%;
  }
}

.floated{
    float: left;
    width: 40%;
    margin: 2em;
}

@media (max-width: 70em) {
  .floated {
    width: 50%;
  }
}

@media (max-width: 53em) {
  .floated {
    width: 90%;
  }
}

.foot-text {
  padding: 3em;
}

/*************** SKILLS ***************/
.skill-icon {
  padding-bottom: 2em;
}

.skill-label {
  padding-bottom: 2em;
}

/*************** EXPERIENCE ***************/

.project-statement {
  padding-left: 10%;
  padding-right: 10%;
}

.frame {
    height: 400px;      /* equals max image height */
    width: 300px;
    border: 1px solid red;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


.example {
  cursor: pointer;
  height: 500px;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.example .logo {
  display: inline-block;
  vertical-align: middle;
}

.example img {
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
    max-height: 300px;
    max-width: 300px;

}

.example .fadedbox {
  background-color: #969696;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 500px;
  padding: 10% 5%;
}

@media (max-width: 53em) {
  .example .fadedbox {
    opacity: 0.9;
  }
}

.example:hover .fadedbox {
  opacity: 0.9;
}
.example .text {
  font-size: 5vi;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
.example .fade-title {
  font-size: 5vi;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
}
.example:hover .fade-title,
.example:focus .fade-title {
  opacity: 2;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
