p {
  margin: 10px;
}

.hero-body {
  min-height: 100%;
  margin-bottom: -25px;
}

/*************** MAIN ***************/
.profile{
    width: 60%;
    margin-left: 20%;

}

@media (max-width: 70em) {
  .profile {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 53em) {
  .profile {
    width: 90%;
    margin-left: 5%;
  }
}

.floated{
    float: left;
    width: 40%;
    margin: 2em;
}

@media (max-width: 70em) {
  .floated {
    width: 50%;
  }
}

@media (max-width: 53em) {
  .floated {
    width: 90%;
  }
}

.foot-text {
  padding: 3em;
}

/*************** SKILLS ***************/
.skill-icon {
  padding-bottom: 2em;
}

.skill-label {
  padding-bottom: 2em;
}
